.rr-primary {
    background-color: #10069f;
    color: #fff;
}

.rr-secondary {
    background-color: #271EA8;
    color: #fff;
}

.rr-white {
    color: #fff;
}

.rr-nav-element:hover {
    background-color: #10069f !important;
}

.rr-nav-element:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #676672;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.rr-nav-element:hover:after { 
  width: 100%; 
  left: 0; 
}

.navbar, .nav-container{
  background-color: #10069fb4;
}

.button-colour{
  background-color: #10069fb4;
}
.navbar-item-effect{
  color: rgb(255, 255, 255);
  font-size: medium;
}
