{% extends 'base.html' %}
{% block title %}Info Packs{% endblock %}
{% load static %}
{% block content %}

<h1 class="has-text-centered title">Info Packs</h1>

<div class="fixed-grid has-3-cols mx-6">
  <div class="grid">

    <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

        <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

    <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>

    <div class="card cell">
        <header class="card-header is-flex">
            <p class="card-header-title">Component</p>
            <p style="justify-content: end; align-items: center; margin-bottom: 1.5rem;" class="card-header-title">11:09 PM - 1 Jan 2016</p>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Details</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </div>
    
  </div>
</div>

{% endblock %}