{% extends 'base.html' %}
{% block title %}Landing Page{% endblock %} 
{% load static %}
{% block content %} 

<section id="landing" class="hero-is-fullheight is-primary py-6">
        <div class="hero-body">
            <div class="container has-text-centered ">
                <h1>Welcome to DevCells</h1>
                <h2>Before you enter, we require you to read our Terms & Conditions.</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime nemo fugiat blanditiis et! Totam quae obcaecati, enim magnam perspiciatis eveniet sunt sint quisquam dignissimos dicta dolor, distinctio sed aspernatur.
                Maxime dolor sint, amet aliquam quos, repellendus a doloribus ipsam officiis eligendi expedita voluptas ex hic, laudantium praesentium non mollitia ducimus! Debitis ipsam amet eligendi, consequatur est totam et aliquid?
                Id non quisquam labore repellat voluptatum nisi maiores? Dolor error itaque laborum ipsam, id quidem dolore facilis. Nemo blanditiis ad amet voluptatibus cumque praesentium, repellendus, ipsam minima, eos nam asperiores.
                Beatae, consequuntur eius. Perspiciatis consectetur provident eum consequatur dolore quibusdam excepturi. Cumque magnam amet officiis hic! Doloribus, qui nobis tempore sed, atque odit eveniet, fuga inventore maiores deserunt porro dignissimos.
                Eum perspiciatis odit repudiandae adipisci molestias nobis maiores laudantium cumque! Voluptates optio quo dolor, eius animi necessitatibus corrupti fugiat culpa quidem suscipit ratione voluptate omnis, sunt consequuntur dolore iusto repellendus.
                Quos doloribus praesentium, voluptates suscipit accusamus totam temporibus doloremque dolores quae hic inventore perferendis quasi beatae quis voluptate aspernatur aliquam iure explicabo! Natus aperiam nostrum neque tempore in explicabo veritatis?</p>
                <br>
                <label class="checkbox"><input type="checkbox" onclick="if(this.checked) enterSite()"> I accept the Terms & Conditions</label>


 
            </div>
        </div>
    </section>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // If already visited, go straight to home
    if (localStorage.getItem("visited")) {
        window.location.href = "/";
    }
});

function enterSite() {
    localStorage.setItem("visited", "true");
    window.location.href = "/";
}
</script>

{% endblock %}