{% load static %}
{% block content %}

<section class="hero rr-primary">
        <div class="hero-body">
          <div style="display: flex; align-items: center; justify-content: flex-start; gap: 1rem; width: 100%;">
            <div>
              <img src="https://raw.githubusercontent.com/rropen/.github/main/img/logo.png"
                   style="height: 6rem; padding: 1rem;">
            </div>
            <div>
              <p class="title rr-white">
                <b>DevCells</b>
              </p>
              <p class="subtitle rr-white mb-2">
                1.0.0
              </p>
            </div>
          </div>
        </div>
      </section>

<div class="nav-container">
    <nav class="navbar px-5 rr-secondary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                
                <a href="{% url 'home' %}" class="navbar-item rr-nav-element navbar-item-effect">
                    <i class="fa fa-home"></i>
                    Home
                </a>

                <a href="info-packs.html" class="navbar-item rr-nav-element navbar-item-effect">
                    <i class="fa fa-info"></i>
                    Info Packs
                </a>

            </div>
        


            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-primary"
                         href="/Register">Register</a>
                    </a>
                    <a class="button"
                         href="/login">Login</a>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

{% endblock %}