{% load static %}
{% block content %}

<section class="hero rr-primary">
    <div class="hero-body">
        <h1 class="title rr-white">Dev Cells</h1>
        <h2 class="subtitle rr-white">1.0.0</h2>
    </div>
</section>

<div class="nav-container">
    <nav class="navbar px-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                
                <a href="{% url 'home' %}" class="navbar-item rr-nav-element navbar-item-effect">
                    <i class="fa fa-home"></i>
                    Home
                </a>

                <a href="info-packs.html" class="navbar-item rr-nav-element navbar-item-effect">
                    <i class="fa fa-info"></i>
                    Info Packs
                </a>

            </div>
        


            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-primary"
                         href="/Register">Register</a></strong>
                    </a>
                    <a class="button"
                         href="/login">Login</a></strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

{% endblock %}